@font-face {
    font-family: 'fontello';
    src: url('../assets/font/fontello.eot?79468173');
    src: url('../assets/font/fontello.eot?79468173#iefix') format('embedded-opentype'),
         url('../assets/font/fontello.woff2?79468173') format('woff2'),
         url('../assets/font/fontello.woff?79468173') format('woff'),
         url('../assets/font/fontello.ttf?79468173') format('truetype'),
         url('../assets/font/fontello.svg?79468173#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
  /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'fontello';
      src: url('../font/fontello.svg?79468173#fontello') format('svg');
    }
  }
  */
   
   [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
   
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
   
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
   
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
   
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
   
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
   
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
   
  .icon-twitter:before { content: '\f099'; } /* '' */
  .icon-facebook:before { content: '\f09a'; } /* '' */
  .icon-linkedin:before { content: '\f0e1'; } /* '' */
  .icon-dribbble:before { content: '\f17d'; } /* '' */
  .icon-pinterest:before { content: '\f231'; } /* '' */
  .icon-gplus:before { content: '\f30f'; } /* '' */


  @font-face {
    font-family: 'fontello';
    src: url('../assets/font-con/fontello.eot?60279673');
    src: url('../assets/font-con/fontello.eot?60279673#iefix') format('embedded-opentype'),
         url('../assets/font-con/fontello.woff2?60279673') format('woff2'),
         url('../assets/font-con/fontello.woff?60279673') format('woff'),
         url('../assets/font-con/fontello.ttf?60279673') format('truetype'),
         url('../assets/font-con/fontello.svg?60279673#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
  /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'fontello';
      src: url('../font/fontello.svg?60279673#fontello') format('svg');
    }
  }
  */
   
   [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
   
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
   
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
   
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
   
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
   
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
   
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
   
  .icon-location:before { content: '\e800'; } /* '' */
  .icon-phone:before { content: '\e801'; } /* '' */
  .icon-mail-alt:before { content: '\f0e0'; } /* '' */


a{
    text-decoration: none;
    color:#ebebeb;
}
nav{
    position: relative;
    width:100%;
    min-width:800px ;
    left:6px;
}
ol, ul {
    list-style: none;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}
li{
    text-decoration:none;
    list-style: none;
    display: inline;
}
header{
    background-color: #323232;
    height: 63px;
    position: relative;
}
header:after{
    content: "";
    width: 0;
	height: 0;
	border-left: 45px solid transparent;
    border-right: 46px solid transparent;
    border-top: 26px solid #323232;
    position: absolute;
    left:50%;
    top: 63px;
    transform: translateX(-50%);
}
.circle{
    color: #ebebeb;
    position: relative;
    bottom: 18px;
    margin: 5px;
}
.item a{
    position: relative;
    bottom: 18px;
    margin: 5px;
    font-family:'Lato', sans-serif;
    font-size: 70%;
    font-weight: 700;
}
.item-portfolio a{
    color:#2f9f88;
    position: relative;
    bottom: 18px;
    font-family: 'Lato', sans-serif;
    font-size: 70%;
    font-weight: 700;
}
.logo{
    position:relative;
    top:10px;
    margin: 25px;
}

.portfolio{
    position: relative;
    height: 894px;
}
.line-left{
    height:20px;
    width:590px;
    border-top:1px solid #ebebeb;
    margin-left: 30px;
    margin-top: 11px;
}
.line-right{
    height: 20px;
    width: 590px;
    border-top: 1px solid #ebebeb;
    margin-left: 761px;
    margin-top: -20px;
}
.line-left-1{
    height: 98px;
    border-left: 1px solid #ebebeb;
    margin-left: 279px;
    margin-bottom: -302px;
    margin-top: 98px;
}
.line-left-2{
    height: 98px;
    border-left: 1px solid #ebebeb;
    position: relative;
    left: 280px;
    bottom: 154px;
}
.line-right-1{
    height: 98px;
    border-left: 1px solid #ebebeb;
    position: relative;
    left: 1112px;
    top: 206px;
}
.line-right-2{
    height: 98px;
    border-left: 1px solid #ebebeb;
    position: relative;
    left: 1115px;
    bottom: 254px;
}
.line-low{
    height:20px;
    width:100%;
    border-top:1px solid #ebebeb;
    position: relative;
    left: 22px;
    bottom: 170px;
}
.hexagon{
    width: 182px;
    height: 209px;
    margin: 9px;
    transform: rotate(120deg);
    overflow: hidden;
    display: inline-block;
}
.hex-layer-1 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
}
.hex-layer-2 {
    width: 100%;
    height: 100%;
    background: #ccc3;
    transform: rotate(-60deg);
    overflow: hidden;
    background-image: url('../assets/images/Layer33@1X.png');
}
.hexagon:hover{
    transform: rotate(-240deg);
    transition: transform 2s ease-in;
}
.row{
    min-width: 2000px;
}
.row-native .hexagon{
    position: relative;
    top: 45px;
    left: 292px;

}
.row-translate .hexagon{
    position: relative;
    left: 190px;
    bottom: 12px;
}
.row-native:not(:first-child){
    margin-top: -115px;
}



.info{
    height: 340px;
    position: relative;
    bottom: 173px;
    background-color: #2eb398;
}
.about{
    position: absolute;
    left:100px;
    left: 289px;
    top: 58px;
}
.line-person{
    height: 315px;
    border-left: 2px solid #219d84;
    position: absolute;
    left: -13px;
    top: -45px;
}
.person{
    position: relative;
    right: 120px;
}
.hexagon-person{
    width: 182px;
    height: 209px;
    margin: 9px;
    transform: rotate(120deg);
    overflow: hidden;
    display: inline-block;
}
.hex-layer-1-person {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
}
.hex-layer-2-person {
    width: 100%;
    height: 100%;
    background: #ccc3;
    transform: rotate(-60deg);
    overflow: hidden;
}
.name {
    font-family: 'Maven Pro', sans-serif;
    font-size: 30pt;
    color: rgba(215, 252, 245, 255);
    text-align: justify;
    display: inline;
    position: absolute;
    left: 207px;
    top: 1px;
    width: 400px;
}
.subtitle{
    font-family: 'Maven Pro', sans-serif;
    font-size: 18pt;
    color: rgba(32, 129, 109, 255);
    text-align: justify;
    position: absolute;
    left: 207px;
    top: 39px;
    width: 800px;
}
#blog{
    font-family: 'Lato', sans-serif;
    color: rgba(215, 252, 245, 255);
    text-align: justify;
    position: absolute;
    left: 207px;
    top: 80px;
    width: 800px;
}
.line-person-2{
    height: 315px;
    border-left: 2px solid #219d84;
    position: absolute;
    right: 60px;
    top: 14px;
}
.social-links{
    position: relative;
    left: 520px;
    top: 250px;
}
.social-links li{
    display: inline-block;
}
.items-social-1{
    display: flex;
    text-decoration: none;
    width: 25px;
    height: 25px;
    background-color: #a4dbd4;
    color:#07ad97;
    justify-content: center;
    align-items: center;
    margin: -1px;
}
.items-social-1:hover{
    background-color: #1a0dab;
    color:#ffffff;
}
.items-social-2{
    display: flex;
    text-decoration: none;
    width: 25px;
    height: 25px;
    background-color:#6ccbbe;
    color:#07ad97;
    justify-content: center;
    align-items: center;
    margin: -1px;
}
.items-social-2:hover{
    background-color: #55acee;
    color: #ffffff;
}
.items-social-3{
    display: flex;
    text-decoration: none;
    width: 25px;
    height: 25px;
    background-color:#7ed0c5;
    color:#07ad97;
    justify-content: center;
    align-items: center;
    margin: -1px;
}
.items-social-3:hover{
    background-color:#d34231 ;
    color: #ffffff;
}
.items-social-4{
    display: flex;
    text-decoration: none;
    width: 25px;
    height: 25px;
    background-color: #abddd7;
    color:#07ad97;
    justify-content: center;
    align-items: center;
    margin: -1px;
}
.items-social-4:hover{
    background-color: #ffffff;
    color:#d34231;
}
.items-social-5{
    display: flex;
    text-decoration: none;
    width: 25px;
    height: 25px;
    background-color: #acddd7;
    color:#07ad97;
    justify-content: center;
    align-items: center;
    margin: -1px;
}
.items-social-5:hover{
    background-color: #55acee;
    color:#b1ddff;
}
.items-social-6{
    display: flex;
    text-decoration: none;
    width: 25px;
    height: 25px;
    background-color: #6dcbbe;
    color:#07ad97;
    justify-content: center;
    align-items: center;
    margin: -1px;
}
.items-social-6:hover{
    background-color: #ffffff;
    color:#fc27aa;
}

footer{
    height: 564px;
    width: 100%;
    position: relative;
    top:112px;
    background-color: #323232;
}

.in-touch-form{
    display: block;
    position: absolute;
    left: 299px;
    top: 58px;
}

.legend{
    font-family: 'Maven Pro', sans-serif;
    font-size: 30pt;
    color: rgba(224, 224, 224, 255);
    text-align: justify;
}
.subtitle-legend{
    font-family: 'Maven Pro', sans-serif;
    font-size: 145%;
    color: rgba(190, 190, 190, 255);
    text-align: justify;
}
.input{
    font-family: 'Lato', sans-serif;
    font-size: 12pt;
    color: rgba(190, 190, 190, 255);
    text-align: justify;
    text-indent: 10px;
    height: 38px;
    width: 580px;
    background-color: #323232;
    border: 1px double rgba(190, 190, 190, 255);
}
.input-text{
    position: absolute;
    top: 75px;
}
.input-email{
    position: absolute;
    top: 130px;
}
.input-subject{
    position: absolute;
    top: 184px;
}
.textarea{
    font-family: 'Lato', sans-serif;
    font-size: 12pt;
    color: rgba(190, 190, 190, 255);
    text-align: justify;
    text-indent: 10px;
    height: 150px;
    width: 580px;
    position: absolute;
    top:238px;
    background-color: #323232;
}
.button-submit {
    color: #d7fcf5;
    background: #2eb398;
    border: 1px double #2eb398;
    height: 37px;
    width: 90px;
    position: absolute;
    top: 405px;
    right: -13px;
    font-family: 'Lato', sans-serif;
    font-size: 10pt;
    color: rgba(215, 252, 245, 255);
    text-align: center;
}
.desc{
    font-family: 'Lato', sans-serif;
    font-size: 10pt;
    color: #b7b7b7;
    text-align: justify;
    height: 117px;
    width: 180px;
    letter-spacing: 0.05em;
    word-spacing: 7px;
    position: relative;
    top: 133px;
    left: 900px;
}
.desc span{
    color: #e0e0e0;
}
.line-up{
    height:20px;
    width:100%;
    border-top:1px solid #2b2b2b;
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 221px;
    top:15px;
}
.line-down{
    height:20px;
    width:100%;
    border-top:1px solid #2b2b2b;
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 221px;
    position: absolute;
    bottom:5px;
}

.list-connection{
    display: block;
    position: relative;
    top: 180px;
    left: 275px;
}
.connect-item{
    text-decoration: none;
    color:#2eb398; 
}
.text-connect{
    display:inline;
    font-family: 'Lato', sans-serif;;
    font-size: 8pt;
    color: rgba(190, 190, 190, 255);
    font-weight: 700;
}
.phone{
    margin-top: 20px;
    margin-right: 26px;
}
.email{
    margin-top: 43px;
    margin-right: 9px;
}

.wrap{
    width: 2000px;
    height: 608px;
    margin: auto;
    position: relative; 
}
.wrap>input{
    display: none;
}
.slider{
    height: inherit;
    overflow: hidden;
    position: relative;
    width: inherit;
}
.slide{
    height: inherit;
    opacity: 0;
    position: absolute;
    width: inherit;
    z-index: 0;
}
.wrap .control {
    position: absolute;
    margin-left: -58px;
    left: 13%;
}

.wrap label {
    cursor: pointer;
    display: inline-block;
    height: 6px;
    margin: 3px;
    position: relative;
    width: 6px;
    background-color: #e0e0e0;
}

#point1:checked ~ .control label:nth-of-type(1),
#point2:checked ~ .control label:nth-of-type(2),
#point3:checked ~ .control label:nth-of-type(3) {
 background:  #b7b7b7;
}

#point1:checked ~ .slider > .slide1,
#point2:checked ~ .slider > .slide2,
#point3:checked ~ .slider > .slide3 {
 opacity: 1;
 z-index: 1;
 animation-duration: 1.5s;
 animation-name: slide;
 animation-timing-function: linear;
}

@keyframes slide{
    from{
        margin-left: 100%;
        width: 300%;
    }
    to{
        margin-left: 0%;
        width: 100%;
    }
}
@media only screen and (max-width:1350px){
    .line-person-2{
        display: none;
    }
    .connection{
        display: none;
    }
}




